body{
    background-color:black;
    background-image: url(pizzapattern.jpg);
    background-size: cover;

}
h1{color:white; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1{background-color: #28d43d 
}
h1{border: 20px solid #28d43d
}
h1{ width: fit-content
}

form{
    background-color:white ;
    border: 20px solid white;
    width: fit-content;
}
form{ 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}