
body, h1 {
    margin: 10;
    padding: 20;
}
body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #7a2020;
    color:white;
    line-height: normal;
} 
/* nav (entire header) section */
nav {
    background-color:#332A2C;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    
}
/* unordered list */
nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    color: #828282;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color:#AB0E0E
}

h2 {
    text-align: center;
    background-color: #332A2C;
    color: #FFFFFF;
    padding: 10px 20px;
    border-radius: 25px;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border: 4px solid #332A2C;
    border-radius: 8px;
}

.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    padding: 10px;
    gap: 10px;
}

.my-band-card {
    width: 350px;
    border: 4px solid #332A2C;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #828282;
}

.my-band-card img {
    width: 100%;
    height: fit-content;
    border-radius: 4px;
}

.my-band-card p {
    font-size: 1.1em;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 5px;
}

.my-band-card:hover {
    color:#332A2C;
}
form{
    background-color:#828282 ;
    border: 20px solid #332A2C;
    width: fit-content;
}
table {
    width: 80%;
    margin: 30px auto;
    border-collapse: collapse;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
    background-color: #828282;
    border-radius: 8px;
    overflow: hidden;
}
.site-footer {
  padding: 20px 0 40px;
  color: #828282;
  text-align: center;
  background-color: #332A2C;

}